.usernav {
    color: #ffffff;
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    position: relative;
    display: block;
    text-decoration: none;
    background-color: transparent;
    box-sizing: border-box;
}