<!DOCTYPE html>
<html lang="en" ng-app="ecUserManager">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>EcUserManager</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/loading-bar.css" rel="stylesheet">
    <link href="css/loginModal.css" rel="stylesheet">
    <link href="css/customSheet.css" rel="stylesheet">

    <!-- Custom CSS -->
    <style>
        body {
            padding-top: 70px;
            /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
        }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body ng-cloak ng-controller="ApplicationController">

<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">EcUserManager</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">Employees<b class="caret"></b></a>
                    <ul class="dropdown-menu navmenu-nav">
                        <li><a href="#/EmployeesList">List employees</a></li>
                        <li><a href="#/AddEmploy">Add employ</a></li>
                    </ul>
                </li>
                <li>
                    <a class="dropdown-toggle" data-toggle="dropdown">MailingLists<b class="caret"></b></a>
                    <ul class="dropdown-menu navmenu-nav">
                        <li><a href="#/AllMailinglists">List all mailinglists</a></li>
                        <li><a href="#/AddMailinglist">Add mailinglist</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><span class="usernav"><div ng-if="currentUser">{{ currentUser }}</div></span></li>
                <li><a href="#/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Page Content -->
<ng-view></ng-view>

<!-- jQuery Version 1.11.1 -->
<script src="lib/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/lib/angular/angular.min.js"></script>
<script src="/lib/angular/angular-route.min.js"></script>
<script src="/lib/angular/angular-resource.js"></script>
<script src="/lib/ng-table.js"></script>
<script src="/lib/loading-bar.js"></script>
<script src="/lib/bootstrap.min.js"></script>
<script src="/lib/checklist-model.js"></script>
<script src="/lib/angular-base64.js"></script>
<script src="/js/app.js"></script>
<script src="/js/controllers/AddEmployeeController.js"></script>
<script src="/js/controllers/EmployeesListController.js"></script>
<script src="/js/controllers/AllMailinglistsController.js"></script>
<script src="/js/controllers/SingleMailinglistController.js"></script>
<script src="/js/controllers/SingleEmployController.js"></script>
<script src="/js/controllers/AddMailinglistController.js"></script>
<script src="/js/controllers/LoginController.js"></script>
<script src="/js/controllers/ApplicationController.js"></script>
<script src="/js/services/EmployeesService.js"></script>
<script src="/js/services/MailingListsService.js"></script>
<script src="/js/services/emailAddressListSerivce.js"></script>
<script src="/js/services/Session.js"></script>
<script src="/js/services/AuthService.js"></script>
<script src="/js/services/authInterceptor.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.js"></script>
<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.0.2.js"></script>
</body>

</html>
