<!DOCTYPE html>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div data-ng-show="showError" ng-class="{fade:doFade}" class="{{message.class}}">
                <strong>{{message.type}}</strong> {{message.content}}
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <form name="newEmployForm" ng-submit="addEmploy(employ)" role="form">
                    <div class="form-group row">
                        <label for="inputName" class="col-sm-1 form-control-label">Name</label>

                        <div class="col-sm-4">
                            <input focus required type="text" class="form-control" id="inputName" placeholder="Name"
                                   ng-model="employ.name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputSurname" class="col-sm-1 form-control-label">Surname</label>

                        <div class="col-sm-4">
                            <input required type="text" class="form-control" id="inputSurname" placeholder="Surname"
                                   ng-model="employ.surname">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail" class="col-sm-1 form-control-label">Email</label>

                        <div class="col-sm-4">
                            <input required type="email" class="form-control" id="inputEmail" placeholder="email"
                                   ng-model="employ.email">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputUsername" class="col-sm-1 form-control-label">Username</label>

                        <div class="col-sm-4">
                            <input required type="text" class="form-control" id="inputUsername" placeholder="username"
                                   ng-model="employ.username">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-1 form-control-label">Password</label>

                        <div class="col-sm-4">
                            <input required type="password" class="form-control" id="inputPassword"
                                   placeholder="password" ng-model="employ.password">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputUserRole" class="col-sm-1 form-control-label">UserRole</label>
                        <div class="col-sm-4">
                            <select class="form-control" id="inputUserRole" ng-model="employ.userRole">
                                <option>Employees</option>
                                <option>Contractors</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-offset-1 col-sm-4">
                            <div class="pull-left">
                                <button type="submit" class="btn btn-primary">Add user</button>
                            </div>
                            <div class="pull-right">
                                <button type="submit" class="btn btn-default">Cancel</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>