<!DOCTYPE html>
<div class="col-md-4 col-md-offset-4">
    <div data-ng-show="showError" ng-class="{fade:doFade}" class="{{message.class}}">
        <strong>{{message.type}}</strong> {{message.content}}
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-md-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading"><strong>Add a new mailinglist</strong></div>
            <div class="panel-body">
                <form name="MyForm" role="form">
                    <fieldset class="form-group">
                        <small for="inputAddress">list address</small>
                        <input type="email" class="form-control" name="inputAddress"
                               ng-model="newMailinglist.emailAddress" ng-pattern="maillistregex" required/>

                        <div class="form-group has-error" ng-show="MyForm.inputAddress.$pristine || MyForm.inputAddress.$invalid">
                            <span ng-show="MyForm.inputAddress.$error.pattern">
                                <label class="control-label">Please, write a valid email address in econsulting.com.pl domain</label>
                            </span>
                        </div>
                    </fieldset>
                    <fieldset class="form-group">
                        <small for="inputName">list name</small>
                        <input type="text" class="form-control" name="inputName" required
                               ng-model="newMailinglist.listName">
                    </fieldset>
                    <div class="pull-left">
                        <button type="submit" class="btn btn-primary" ng-disabled="MyForm.$pristine || MyForm.$invalid"
                                ng-click="addMailinglist(newMailinglist)">Add
                        </button>
                    </div>
                    <div class="pull-right">
                        <button type="submit" class="btn btn-primary">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading"><strong>Select members</strong></div>
            <div class="panel-body">
                <div class="checkbox">
                    <div ng-repeat="address in allEmailAddresses">
                        <label>
                            <input type="checkbox" checklist-model="newMailinglist.gotoList" checklist-value="address">{{address}}
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>