<!DOCTYPE html>
<script type="text/ng-template" id="mailinglistDeleteConfirmationModal.html">
    <div class="modal-header">
        <h3 class="modal-title">Confirmation</h3>
    </div>
    <div class="modal-body">
        Are you sure you want to remove this list?
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>
<div>
    <div class="col-md-4 col-md-offset-4">
        <div data-ng-show="showError" ng-class="{fade:doFade}" class="{{message.class}}">
            <strong>{{message.type}}</strong> {{message.content}}
        </div>
    </div>
    <table  ng-table="mailinglistTable" show-filter="true" class="table table-striped">
        <tr ng-repeat="mailinglist in mailinglists">
            <td data-title="'name'" sortable="'name'" filter="{ 'name': 'text' }">
                <a href="#/SingleMailinglist/{{mailinglist.name}}">{{mailinglist.name}}</a>
            </td>
            <td data-title="'address'" sortable ="'address'" filter="{ 'address': 'text' }">
                {{mailinglist.emailAddress}}
            </td>
            <td data-title="'delete'">
                <a id="link1" ng-click="deleteMailinglist(mailinglist.emailAddress)">remove</a>
            </td>
        </tr>
    </table>
</div>