<div class="modal fade" id="authModalContent" tabindex="-1" role="dialog" aria-labelledby="authModalContent" aria-hidden="true"
     style="display: none;"  type="text/ng-template>
    <div class="modal-dialog">
        <div class="loginmodal-container">
            <h1>Login to Your Account</h1><br>

            <form ng-controller="LoginController" ng-submit="submit()">
                <input ng-model="user.username" type="text" name="user" placeholder="Username">
                <input ng-model="user.password" type="password" name="pass" placeholder="Password">
                <input type="submit" name="login" class="login loginmodal-submit" value="Login">
            </form>

            <div class="login-help">
                <a href="#">Register</a> - <a href="#">Forgot Password</a>
            </div>
        </div>
    </div>
</div>