<!DOCTYPE html>
<script type="text/ng-template" id="userDeleteConfirmationModal.html">
    <div class="modal-header">
        <h3 class="modal-title">Confirmation</h3>
    </div>
    <div class="modal-body">
        Are you sure you want to remove this user?
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>
<div>
    <table  ng-table="employeesTable" show-filter="true" class="table table-striped">
        <tr ng-repeat="employ in employees">
            <td data-title="'name'" sortable="'name'" filter="{ 'name': 'text' }">
                {{employ.name}}
            </td>
            <td data-title="'surname'" sortable ="'surname'" filter="{ 'surname': 'text' }">
                {{employ.surname}}
            </td>
            <td data-title="'username'" sortable="'username'" filter="{ 'username': 'text' }">
                <a href="#/SingleEmploy/{{employ.username}}">{{employ.username}}</a>
            </td>
            <td data-title="'delete'">
                <a id="link1" ng-click="deleteEmploy(employ.username)">remove</a>
            </td>
        </tr>
    </table>
</div>