<!DOCTYPE html>
<div class="modal-dialog">
    <div class="loginmodal-container">
        <h1>Login to Your Account</h1><br>
        <form ng-submit="login(credentials)" autocomplete="off">
            <input ng-model="credentials.username" type="text" name="user" placeholder="Username" autocomplete="off">
            <input ng-model="credentials.password" type="password" name="pass" placeholder="Password" autocomplete="off">
            <input type="password" id="prevent_autofill" style="display:none"/>
            <input type="submit" name="login" class="login loginmodal-submit" value="Login">
        </form>

        <div class="login-help">
            <div class="form-group has-error" ng-if="authError"><label class="control-label">{{ authError }}</label></div>
        </div>
    </div>
</div>