<!DOCTYPE html>
<div class="loginmodal-container">
    <h3>Login to Your Account</h3><br>

    <form ng-controller="ModalTestController">
        <input ng-model="user.username" type="text" name="user" placeholder="Username" autocomplete="off">
        <input ng-model="user.password" type="password" name="pass" placeholder="Password">
        <input type="submit" name="login" class="login loginmodal-submit" value="Login" ng-click="ok(user)">
    </form>

    <div class="login-help">
        <a href="#">Register</a> - <a href="#">Forgot Password</a>
    </div>
</div>