<!DOCTYPE html>
<script type="text/ng-template" id="userDeleteConfirmationModal.html">
    <div class="modal-header">
        <h3 class="modal-title">Confirmation</h3>
    </div>
    <div class="modal-body">
        Are you sure you want to remove this user?
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>
<div class="col-md-4 col-md-offset-4">
    <div data-ng-show="showError" ng-class="{fade:doFade}" class="{{message.class}}">
        <strong>{{message.type}}</strong> {{message.content}}
    </div>
</div>
<div ng-show="valid">
    <div class="row">
        <div class="col-md-4 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading"><strong>Employ details</strong></div>
                <div class="panel-body">
                    <form name="MyForm" role="form">
                        <fieldset class="form-group">
                            <small for="inputName">Name</small>
                            <input type="text" class="form-control" name="inputName" value="{{employ.name}}" ng-model="employ.name" />
                        </fieldset>
                        <fieldset class="form-group">
                            <small for="inputSurname">Surname</small>
                            <input type="text" class="form-control" name="inputSurname" value="{{employ.surname}}" ng-model="employ.surname">
                        </fieldset>
                        <fieldset class="form-group">
                            <small for="inputEmail">Email</small>
                            <input type="email" class="form-control" name="inputEmail" value="{{employ.email}}" ng-model="employ.email">
                        </fieldset>
                        <div class="pull-left">
                            <button ng-disabled="MyForm.$pristine || MyForm.$invalid" type="submit" class="btn btn-primary" ng-click="updateEmploy(employ)">Update</button>
                        </div>
                        <div class="pull-right">
                            <button type="submit" class="btn btn-primary" ng-click="removeEmploy()">Remove employee</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading"><strong>Employ's emaillists</strong></div>
                <div class="panel-body">
                    <table class="table table-striped table-hover">
                        <tr ng-repeat=" address in employ.onmailinglists">
                            <td>{{address}}</td>
                            <td>
                                <a id="link2" ng-click="removeAddressFromMailinglist(address, employ.email)">remove</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>