<!DOCTYPE html>
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div data-ng-show="showError" ng-class="{fade:doFade}" class="{{message.class}}">
            <strong>{{message.type}}</strong> {{message.content}}
        </div>
    </div>
</div>
<div ng-show="valid">
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading"><strong>Mailinglist details</strong></div>
                <div class="panel-body">
                    <strong>me:</strong> {{mailinglist.name}}</br>
                    <strong>email:</strong> {{mailinglist.emailAddress}}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading"><strong>email address list</strong></div>
                <table class="table table-striped table-hover">
                    <tr ng-repeat=" address in mailinglist.AddressList">
                        <td>{{address}}</td>
                        <td>
                            <a id="link1" ng-click="removeAddressFromMailinglist(mailinglist.name, address)">remove</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading"><strong>available emails to add</strong></div>
                <table class="table table-striped table-hover">
                    <tr ng-repeat=" address2 in mailinglist.availableEmailAddresses">
                        <td>{{address2}}</td>
                        <td>
                            <a id="link2" ng-click="addAddressToMailinglist(mailinglist.name, address2)">add</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>